.main-body {
  background-color: #bcd2e8;
}

.main-content {
  margin: auto;
  width: 75%;
  height: 90%;
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  background-color: white;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.profile-text {
  flex-shrink: 1;
  flex-grow: 1;
  flex: 1;
  min-width: 0;
  padding-right: 25%;
  margin: auto;
  max-width: 500px;
  height: auto;
  background-color: green;
}


.profile-img {
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selfie {
  max-width: 50%;
  height: auto;
  
}

h1, h2, h3 {
  font-family: 'Courier New', monospace;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p, li {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; 
  font-size: 16px; 
  font-style: normal; 
  font-variant: normal;
}

.header, .summary, .education, .skills, .experience, .projects {
  border-bottom-style: solid;
  border-color: orange;
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  
  .profile-img {
     width: 100%;
     display: flex;
     justify-content: center;
     margin-bottom: 15px;
   }
   
   .profile-img img {
     max-width: 150px;
     height: auto;
   }
   
   .profile-text {
     width:100%;
     text-align: center;
   }
}
